<form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()">

    <label>
        Name:
        <input type="text" formControlName="name">
        <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched || submitted)" class="alert alert-danger">
            <div *ngIf="taskName.errors.required">
                Name is required.
            </div>
            <div *ngIf="taskName.errors.minlength">
                Name must be at least 2 characters long.
            </div>
        </div>
    </label>

    <label>
        Description:
        <input type="text" formControlName="description">
        <div *ngIf="taskDescription.invalid && (taskDescription.dirty || taskDescription.touched || submitted)" class="alert alert-danger">
            <div *ngIf="taskDescription.errors.minlength">
                Name must be at least 2 characters long.
            </div>
        </div>
    </label>
    <div>
        <button type="submit">Add task</button>
    </div>
</form>