<div class="task__wrapper">
  <h2> {{ task.name }} </h2>
  <p>
    Opis zadania: <b>{{ task.description }} </b> <br>
    Data stworzenia zadania:  {{ task.created_date }}<br>
    Czas trwania zadania: {{ task.fullTime }} <br>
    <button (click)="handleTimer()"> {{ currentTimerLabel }} </button>
    <button (click)="handleRemove()"> Usuń </button>
    <button (click)="handleEdit()"> Edytuj </button>

  </p>

</div>
