<section class="container">
  <div class="row ">
    <div class="col-lg-12">
      <img src="/assets/images/LogoGBX.svg" alt="GBX Soft" />
      <span><b>CHECK</b> YOUR TIME</span>
    </div>
  </div>

  <div class="row ">
    <div class="col-lg-5 col-sm-12 col-xs-12">
      <div class="custom-tile">
        <h4>Add new task</h4>
        <create-task></create-task>
      </div>
      </div>

    <div class="col-lg-6 col-sm-12 col-xs-12">
      <div class="custom-tile">
        <h4>Tasks list</h4>
        <tasks-list></tasks-list>
      </div>
    </div>
  </div>
</section>
